<div class="report-widget widget-matomo-campaign-overview">
    <h3><?= e(trans($this->property('title'))) ?></h3>
    <div class="graph-container" style="padding: 6px; min-height: 232px;">
        <div
            class="control-chart wrap-legend"
            data-control="chart-bar"
            data-height="172"
            data-full-width="1">
            <ul>
                <?php foreach(($this->vars['campaign'] ?? []) as $row): ?>
                <li><?= $row['label'] ?? '' ?> <span><?= $row['nb_visits'] ?? 0 ?></span></li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>

    <span style="opacity: 0.9; margin-top: 6px;">
        <?= trans('renick.matomo::lang.period') ?>: <b><?= $this->vars['period'] ?? '' ?></b>
    </span>
</div>
