{% if __SELF__.isLoggedInAdmin() %}
    <script>const _paq = 'disabled for admin user';</script>
{% else %}
    <script>
        var _paq = window._paq = window._paq || [];
        {% if not __SELF__.useCookies() %}
        _paq.push(['disableCookies']);
        {% endif %}
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="{{ __SELF__.remoteUrl }}";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '{{ __SELF__.matomoSiteId }}']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="{{ __SELF__.remoteUrl }}matomo.php?idsite={{ __SELF__.matomoSiteId }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
{% endif %}
